@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --success: rgb(0, 128, 0);
  --warning: rgb(205, 135, 6);
  --error: rgb(208, 41, 41);
  --success-light: rgba(0, 128, 0, 0.4);
  --warning-light: rgba(255, 165, 0.4);
  --error-light: rgba(208, 41, 41, 0.4);
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(222, 190, 190), rgb(156, 203, 151));
}

.control button {
  font-size: 28px;
  color: white;
  border: none;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 6px;
  margin: 0 10px;
}

.success {
  background: var(--success);
}

.warning {
  background: var(--warning);
}

.error {
  background: var(--error);
}

#toasts {
  position: fixed;
  top: 10px;
  right: 10px;
}

.toast {
  padding: 20px;
  border-radius: 6px;
  color: white;
  font-size: 22px;
  border-left: 6px solid var(--success);
  overflow: hidden;
  animation: slide_show 2s ease forwards;
  margin-bottom: 20px;
}

.toast i {
  margin: 0 10px;
}

.toast .countdown {
  background: var(--success);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  left: 0;
  animation: countdown 3s ease forwards;
}

.toast.success {
  border-left: 6px solid var(--success);
  background: var(--success-light);
}

.toast.warning {
  border-left: 6px solid var(--warning);
  background: var(--warning-light);
}
.toast.error {
  border-left: 6px solid var(--error);
  background: var(--error-light);
}

.toast.success .countdown {
  background: var(--success);
}

.toast.warning .countdown {
  background: var(--warning);
}

.toast.error .countdown {
  background: var(--error);
}

@keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes slide_show {
  0% {
    transform: translateX(100%);
  }

  25% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10%);
  }
}

@keyframes slide_hide {
  0% {
    transform: translateX(-10%);
  }

  25% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(150%);
  }
}
